.sidermenu * {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

.sidermenu {
  max-width: 300px;
  width: 100%;
  user-select: none;
  background-color: white;
  --selectionColor: #4169e0;
  --itemTextColor: #111111;
}

.sidermenu .menuItem {
  position: relative;
  display: flex;
  align-items: center;
  font: 14px;
  gap: 12px;
  color: #b7b7b7;
  padding: 14px 32px;
  font-weight: 500;
}

.sidermenu .menuItem > svg,
.sidermenu .empty-placeholder-svg {
  height: 16px;
  width: 16px;
}

.sidermenu .menuItem .itemTitle {
  color: var(--itemTextColor);
  flex-grow: 1;
}

.sidermenu .menuItem:hover {
  cursor: pointer;
  color: var(--selectionColor);
  background-color: rgba(254, 254, 254, 0.2);
  transition: all 0.6s;
}
.sidermenu .menuItem:hover .itemTitle {
  color: var(--selectionColor) !important;
}

.sidermenu .selectedItem.menuItem::before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 5px;
  left: 0px;
  border-radius: 0px 4px 4px 0px;
  background-color: var(--selectionColor);
  animation: selectionAnimation 0.2s ease-in;
}

@keyframes selectionAnimation {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

.sidermenu .selectedItem.menuItem {
  color: var(--selectionColor);
  font-weight: 600;
  /* background-color: #d9e6fd; */
  background-color: rgb(217, 230, 253, 0.3);
  transition: all 0.6s;
}
.sidermenu .selectedItem.menuItem .itemTitle {
  color: var(--selectionColor);
}

.sidermenu .selectedItem.menuItem > svg,
.sidermenu .menuItem:hover svg {
  color: var(--selectionColor);
  transition: all 0.4s;
}

.sidermenu .parentSelection,
.sidermenu .parentSelection .itemTitle,
.parentSelection svg {
  color: var(--selectionColor);
}

/** Animations **/

.sidermenu .open {
  max-height: 1800px;
  visibility: visible;
  opacity: 1;
  transition: all 0.6s ease-in;
}

.sidermenu .close {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: all 0.4s ease-out;
}

.sidermenu .downAnim {
  display: flex;
  transform: rotate(0deg);
  transition-duration: 0.6s;
}

.sidermenu .upAnim {
  display: flex;
  transform: rotate(180deg);
  transition-duration: 0.6s;
}

/* Separator */

.menuItemSeparator {
  padding: 20px 30px;
}

.menuSeparatorLine {
  width: 100%;
  border: 1.5px solid #f3f3f3;
}
